{% extends 'base.html' %} {% block content %}
<main class="container">
  <h1>Category list</h1>
  {% if categories %}
  <ul>
    {% for category in categories %}
    <li>
      <a href="{% url 'core:productsByCategoryView' category.id %}"
        >{{ category.name }}</a
      >
    </li>
    {% endfor %}
  </ul>
  {% else %}
  <h2>No categories found</h2>
  {% endif %}
</main>
{% endblock %}
