{% extends 'base.html' %} {% block content %}
<main class="container">
  <h1>Scrape command</h1>
  <article>
    <header>Scrape settings</header>
    <form action="{% url 'core:scrapeCommand' %}" method="post">
      {% csrf_token %}
      <label for="frequency">Frequencies</label>
      <select name="frequency" id="frequency">
        <option value="" select>---</option>
        {% for frequency in frequencies %}
        <option value="{{ frequency.0 }}">{{ frequency.1 }}</option>
        {% endfor %}
      </select>
      <label for="targets">Targets</label>
      <select name="targets" id="targets" multiple>
        {% for target in targets %}
        <option value="{{ target.id }}">
          {% firstof target.alias target.url %}
        </option>
        {% endfor %}
      </select>
      <button type="submit">Scrape</button>
    </form>
  </article>
  <!-- {% if running_commands %}
  <article>
    <header>Running commands</header>
    <ul>
      {% for command in running_commands %}
      <li>{{ command }}</li>
      {% endfor %}
    </ul>
  </article>
  {% endif %} -->
</main>

<script>
  function onSubmit(event) {
    event.target.setAttribute("aria-busy", "true");
  }

  document.querySelectorAll("button[type='submit']").forEach((btn) => {
    btn.onclick = onSubmit;
  });
</script>
{% endblock %}
