{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}Prihud{% endblock %}</title>
    <link
      rel="stylesheet"
      href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css"
    />
    <link rel="stylesheet" type="text/css" href="{% static 'global.css' %}" />
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}"/>
  </head>
  <body>
    <nav class="container">
      {% if user.is_authenticated %}
      <ul>
        <li
          class="clickable"
          onclick="window.location.assign('{% url 'index' %}')"
        >
          <strong class="center-aligned">
            <svg class="icon">
              <use href="{% static 'feather-sprite.svg' %}#crosshair" />
            </svg>
            Prihud
          </strong>
        </li>
      </ul>
      <ul>
        <li><a href="{% url 'core:categoryList' %}">Categories</a></li>
        <li><a href="{% url 'core:productList' %}">Products</a></li>
        {% if user.is_superuser %}
        <li role="list" dir="rtl">
          <a href="#" aria-haspopup="listbox">Admin</a>
          <ul role="listbox">
            <li><a href="{% url 'admin:index' %}">Admin Panel</a></li>
            <li><a href="{% url 'core:scrapeCommand' %}">Scrape</a></li>
            <li><a href="{% url 'core:exploreCommand' %}">Explore</a></li>
            <li>
              <a href="{% url 'core:downloadDatabase' %}">DB download</a>
            </li>
          </ul>
        </li>
        {% endif %}
        <li>
          <a href="{% url 'logout' %}">
            <svg class="icon">
              <use href="{% static 'feather-sprite.svg' %}#log-out" />
            </svg>
          </a>
        </li>
      </ul>
      {% else %}
      <ul>
        <li>
          <strong class="center-aligned">
            <svg class="icon">
              <use href="{% static 'feather-sprite.svg' %}#crosshair" />
            </svg>
            Prihud
          </strong>
        </li>
      </ul>
      <ul>
        <li>
          <a href="{% url 'login' %}">
            <svg class="icon">
              <use href="{% static 'feather-sprite.svg' %}#log-in" />
            </svg>
          </a>
        </li>
      </ul>
      {% endif %}
    </nav>
    {% block content %}{% endblock %}
  </body>
</html>
