<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}Prihud{% endblock %}</title>
    <link
      rel="stylesheet"
      href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css"
    />
  </head>
  <body>
    <nav class="container">
      {% if user.is_authenticated %}
      <ul>
        <li onclick="window.location.assign('{% url 'index' %}')">
          <strong>Prihud</strong>
        </li>
      </ul>
      <ul>
        <li><a href="{% url 'database:categoryList' %}">Categories</a></li>
        <li><a href="{% url 'database:productList' %}">Products</a></li>
        <li><a href="{% url 'logout' %}">Logout</a></li>
      </ul>
      {% else %}
      <ul>
        <li><strong>Prihud</strong></li>
      </ul>
      <ul>
        <li><a href="{% url 'login' %}">Login</a></li>
      </ul>
      {% endif %}
    </nav>
    {% block content %}{% endblock %}
  </body>
</html>
