{% extends 'base.html' %} {% block content %}
<main class="container">
  {% if target_refs %}
  <h3>{{ product_name }}</h3>
  {% autoescape off %} {{ charts.line_chart }} {{ charts.scatter_plot }} {% endautoescape %}
  <br />
  <details>
    <summary>Go to product page</summary>
    <ul>
      {% for ref in target_refs %}
      <li>
        <a href="{{ ref.url }}" target="__blank">
          {% firstof ref.Alias ref.url %}
        </a>
      </li>
      {% endfor %}
    </ul>
  </details>
  {% else %}
  <h3>No price history found for this product</h3>
  {% endif %}
</main>
{% endblock %}
